body {
  background-color: powderblue; /* Sets the background color of the entire page */
  margin: 0;
}

h1 {
  color: blue; /* Sets the text color of all h1 headings to blue */
  font-family: verdana; /* Sets the font family for headings */
  font-size: 300%; /* Sets the font size for headings (3 times the default) */
}

p {
  color: red; /* Sets the text color of all paragraphs to red */
  font-family: courier; /* Sets the font family for paragraphs */
  font-size: 160%; /* Sets the font size for paragraphs (1.6 times the default) */
  border: 2px solid powderblue; /* Adds a border to paragraphs */
  padding: 30px; /* Adds space between the content and the border of paragraphs */
  margin: 50px; /* Adds space outside the border of paragraphs */
}

header {
  background-color: #f1f1f1; /* Grey background */
  padding: 20px 10px;      /* Padding around content */
  text-align: center;      /* Center the content */
  font-size: 30px;         /* Large text size */
}

ul {
  text-align: center;   
}

 ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c0047;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #cccccc;
}

ul.topnav li a.active {
  background-color: #ffbb00;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {
    float: none;}
}

.content-section {
  float: left;
  width: 70%;
  padding: 50px;
}

.sidebar {
  float: right;
  width: 30%;
}
